#basicLogoAndNav h1 {
  color: white;
  margin: 0 auto;
}

.header-section {
  text-align: center;
  padding: 15px;
}

.confirm-text {
  text-align: center;
  margin: 20px;
}

.exclamation {
  width: 30px;
  height: 30px;
  text-align: center;
}

.btn {
  display: block;
  padding: 15px;
  width: 10%;
  height: 15%;
  margin: 0 auto;
  margin-top: 5%;
}

h1 {
  text-align: center;
  margin-top: 10%;
}

h5,
p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
}

a:hover {
  color: white;
}
